.container {
    display: flex;
    flex-direction: row;
}
.image_col {
    width: 50%;
}
.content_col {
    width: 50%;
}

@media(max-width: 600px){ 
    .container {
       flex-direction: column;
    }
    .image_col { 
       width: 100%;
    }
    .content_col {
       width: 100%;
    }
}