---
layout: base
---
{% include header.html type="page" %}
<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      <div>
          <div class="container">
              <div class="image_col">
                    <img src="/assets/img/me.jpg" alt="me">
              </div>
              <div class="content_col">
                    {{ content }}
              </div>
          </div> 
          <div>
              <div align="center">
                  <h2> Where I've worked</h2>
              </div>
              <ul>
                  {% for job in page.jobs %}
                  <li> <b>{{ job.name }}</b> <i>{{job.dates}}</i> </li>
                  {% endfor %}
              </ul>
          </div>
      </div>
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>